body {
  margin: 0;
  font-family: Arial, sans-serif;
}

/* Navbar */
.navbar {
  background: #897002;
  color: white;
  font-size: 0.8em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 5px;
  position: fixed;
  width: 100%;
  top: 17px;
  z-index: 10;
  border-radius: 10px;
}

.logo {
  
  background-size: 10% 10%;
  
  display: flex;
  align-items: center;
  font-size: 15px;
  font-weight: bold;
  
}

.logo-img {
  background: url("pcm.jpg");
  background-size:  32px;
  border-radius: 50px;
  width: 30px;
  height: 40px;
  margin-left: 18px;
  margin-right: 20px;

}

/* Menu links */
.menu {
  display: flex;
  gap: 20px;
}

.menu a {
  text-decoration: none;
  color: white;
  font-weight: 500;
}

.menu a:hover {
  color: #ffdd57;
}

/* Donate button */
.donate {
  background: #ffdd57;
  color: black !important;
  padding: 6px 12px;
  border-radius: 5px;
  font-weight: bold;
}

.donate:hover {
  background: #fcd34d;
}

/* Hamburger menu */
.menu-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.menu-toggle div {
  width: 25px;
  height: 3px;
  background: white;
  margin: 4px 0;
}

/* Hero Section */
.hero {
  background: url("tucasa.jpg") center/cover no-repeat;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  padding: 0 20px;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
}

.hero-content {
  position: relative;
  z-index: 1;
}

.hero h1 {
  font-size: 40px;
  margin-bottom: 10px;
}

.hero p {
  font-size: 20px;
  margin-bottom: 20px;
}

.btn {
  background: #ffdd57;
  color: black;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
}

.btn:hover {
  background: #fcd34d;
}

/* Responsive */
@media (max-width: 768px) {
  .menu {
    display: none;
    flex-direction: column;
    background: #006d6d;
    position: absolute;
    top: 60px;
    right: 0;
    width: 60%;
    padding: 15px;
    border-radius: 10px 0 0 10px;
  }

  .menu.active {
    display: flex;
  }

  .menu-toggle {
    display: flex;
  }

  .hero h1 {
    font-size: 28px;
  }

  .hero p {
    font-size: 16px;
  }
}
