@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700;800&display=swap");

:root {
  --accent: #00e56a;
  --bg-dark: #041b11;
  --glass: rgba(255, 255, 255, 0.04);
  --border: rgba(189, 242, 189, 0.468);
}

* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;

  color: #e5f5ea;
}

html,
body,
#root {
  height: 100%;
  margin: 0;
  background-color: var(--bg-dark);
  overflow-x: hidden;
}

/* PAGE */
.page {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  padding: 13px;
}

.bg-animation {
  position: absolute;
  inset: 0;
  z-index: 0;
  overflow: hidden;
}

/* kila image layer */
.bg-animation img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  top: 0;
  left: 0;
  opacity: 0;
  transform: scale(1);
  animation: zoomFade 24s infinite;
  filter: brightness(0.8) blur(0px);
}

/* image ya kwanza */
.bg-animation img:nth-child(1) {
  animation-delay: 0s;
  z-index: 1;
}

/* image ya pili */
.bg-animation img:nth-child(2) {
  animation-delay: 8s;
  z-index: 2;
}

/* image ya tatu */
.bg-animation img:nth-child(3) {
  animation-delay: 16s;
  z-index: 3;
}

/* GRADIENT LAYER – iko juu ya picha zote */
.bg-animation::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
    to top,
    rgba(4, 4, 68, 0.862),
    rgba(17, 17, 136, 0.425)
  );
  z-index: 4; /* juu ya images */
  pointer-events: none;
}

/* animation: zoom + fade */
@keyframes zoomFade {
  0% {
    opacity: 0;
    transform: scale(1);
  }
  5% {
    opacity: 1;
    transform: scale(1.02);
  }
  33% {
    opacity: 1;
    transform: scale(1.07);
  }
  38% {
    opacity: 0;
    transform: scale(1.08);
  }
  100% {
    opacity: 0;
    transform: scale(1.08);
  }
}

/* CARD — main container */
.card {
  position: relative;
  z-index: 2;
  width: 100%;
  max-width: 450px;
  padding: 48px 24px 40px;
  border-radius: 30px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(25px) saturate(1.1);
  overflow: visible;
  /* background: rgba(255, 255, 255, 0.05); */
  margin-top: 25px;
  margin-bottom: 20px;
  border: 1px solid rgba(180, 255, 173, 0.471);

  /*  Cut a semicircle gap in the border at top center */
  -webkit-mask: radial-gradient(
    circle 15px at 50% -2px,
    transparent 98%,
    black 100%
  );
  mask: radial-gradient(circle 17px at 50% 3px, transparent 98%, black 100%);
}

/*  Create the upward curve notch visually */
.card::before {
  content: "";
  position: absolute;
  top: -10px;
  left: 50%;
  transform: translateX(-50%);
  width: 30px;
  height: 30px;
  background: transparent;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: 0px 1px 0 0.4px rgba(100, 244, 126, 0.737);
  /* border-bottom:  3px solid rgba(173, 255, 182, 0.6); */
  z-index: 3;
}

@media (max-width: 480px) {
  .card {
    max-width: 500px;
    width: 100%;
    padding: 28px 20px 36px;
    border-radius: 25px;
    border: 1px solid rgba(185, 255, 173, 0.475);
  }

  .title {
    font-size: 16px;
  }
}

/* title */
.title {
  text-align: center;
  font-weight: 600;
  font-size: 20px;
  color: var(--accent);
  margin-top: 20px;
  margin-bottom: 22px;
}

/* form */
.form {
  display: flex;
  flex-direction: column;
  gap: 14px;
  width: 85%;
  margin-left: 20px;
  margin-top: 40px;
}
.form label {
  display: flex;
  flex-direction: column;
  font-size: 13px;
  color: #87f1a893;
}
.form input,
.form select {
  margin-top: 8px;
  padding: 12px 18px;
  border-radius: 28px;
  border: none;
  outline: none;
  background: rgba(164, 150, 233, 0.254);
  color: #ffffff;
  font-size: 14px;
  transition: 0.3s ease;
  font-weight: 100;
}
.form input:focus,
.form select:focus {
  background: rgba(255, 255, 255, 0.09);
  box-shadow: 0 0 0 1px rgba(129, 173, 238, 0.746);
}

.form input::placeholder {
  color: rgba(129, 173, 238, 0.959);
  font-weight: 100;
  font-size: 0.9em;
}
/* button */
.btn {
  margin-top: 20px;
  padding: 10px 0;
  border-radius: 30px;
  border: none;
  background: linear-gradient(90deg, #00de1678);
  color: #f4f4f4;
  font-weight: 600;
  letter-spacing: 0.5px;
  cursor: pointer;
  outline: none;
  transition: transform 0.15s ease;
  font-weight: 100;

  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
}
.btn:focus,
.btn:active {
  outline: none;
  box-shadow: none;
  background: linear-gradient(90deg, #00a02d77);
  transform: none;
}

/* message */
.msg {
  margin-top: 10px;
  text-align: center;
  color: #b7f7d4;
  font-size: 14px;
}

.modal {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(2px);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}
.modal-box {
  background: #0a0075;
  color: white;
  padding: 35px 55px;
  border-radius: 8px;
  text-align: center;
  border: 1px solid rgba(0, 255, 255, 0.86);
  box-shadow: 0 0 20px rgba(0, 255, 255, 0.149);
}
.modal-box button {
  margin-top: 8px;
  background: #00bfff;
  color: #000;
  border: none;
  padding: 8px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.profileImage {
  width: 120px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: rgba(6, 121, 192, 0.074);
  border-bottom: 1.5px solid rgba(255, 255, 255, 0.582);
  margin: 0 auto 15px auto; /* hii ndio key: center horizontally */
}

.profileImage img {
  height: 70px;
  width: 70px;
  object-fit: contain;
  border-radius: 0%;
}

@media (max-width: 480px) {
  .profileImage {
    width: 90px;
    height: 90px;
    margin-top: 30px;
  }
  .profileImage img {
    height: 60px;
    width: 60px;
  }
}

.sub {
  display: flex;
  align-items: center;
  text-align: center;
  color: rgba(0, 217, 255, 0.919);
  font-size: 0.9em;
  justify-content: center;
  margin-top: 0px;
  font-family: "Nunito", sans-serif;
}
.typing {
  display: inline-block;
  font-size: 1.5em;
  font-weight: 600;
  color: rgba(0, 217, 255, 0.919);
  white-space: nowrap;
  overflow: hidden;
  position: relative;
  width: fit-content;
  font-family: "Nunito", sans-serif;
  max-width: 100%;
  animation: typing 8s steps(30, end) infinite;
}

/* the trailing dots (...) */
/* .typing::after {
  content: "...";
  position: absolute;
  right: -20px;
  color: var(--accent);
  opacity: 0.8;
} */

/* typing + deleting animation */
@keyframes typing {
  0% {
    width: 0;
  }
  40% {
    width: 100%;
  }
  60% {
    width: 100%;
  }
  100% {
    width: 0;
  }
}

/* responsiveness */
@media (max-width: 600px) {
  .typing {
    font-size: 1.2em;
  }
}

.lastquote {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.lastquote p {
  font-size: 0.7em;
  color: rgba(255, 255, 255, 0.564);
  margin-top: 20px;
  margin-bottom: 0px;
  padding-top: 10px;
  padding-bottom: 0px;
}

/* ALL page table */
.all-page .top-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0px;
}
.all {
  position: relative;
  z-index: 2;
  width: 100%;
  max-width: 420px;
  padding: 48px 24px 40px;
  border-radius: 15px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(10px) saturate(1.1);
  overflow: visible;
  margin-top: 25px;
  margin-bottom: 20px;
  border: 1px solid rgba(173, 255, 182, 0.537);
  /* border: 1px solid rgba(173, 181, 255, 0.597); */
  -webkit-mask: radial-gradient(
    circle 15px at 50% -2px,
    transparent 98%,
    black 100%
  );
  mask: radial-gradient(circle 17px at 50% 3px, transparent 98%, black 100%);
}

.all::before {
  content: "";
  position: absolute;
  top: -10px;
  left: 50%;
  transform: translateX(-50%);
  width: 30px;
  height: 30px;
  background: transparent;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: 0px 1.5px 0 0.6px rgba(173, 255, 182, 0.6);
  /* border-bottom:  3px solid rgba(173, 255, 182, 0.6); */
  z-index: 3;
}

.total {
  font-size: 12px;
  color: #bff3c9;
  border: 1px solid rgb(145, 143, 143);
  border-radius: 8px;
  padding: 8px 15px;
  font-weight: 100;
}
.count {
  display: inline-block;
  margin-left: 10px;
  background: rgba(0, 0, 0, 0.639);
  border: 1px solid rgba(202, 191, 191, 0.729);
  padding: 8px 12px;
  border-radius: 50%;
  font-size: 0.8em;
  font-weight: 100;
}

.picha {
  border: 1px solid rgb(190, 190, 198);
  padding: 5px 10px;
  border-radius: 8px;
  width: 45px;
  margin-left: 250px;
  margin-bottom: 50px;
  overflow: hidden;
  cursor: none;
  pointer-events: none;

  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
}
.picha:focus,
.picha:active {
  outline: none;
  box-shadow: none;
  /* background: linear-gradient(90deg, #00a02ed4); */
  transform: none;
}

.top-row {
  border-bottom: 1px solid rgba(255, 255, 255, 0.411);
  padding-bottom: 50px;
}

/* table */
.row .name {
  font-weight: 100;
}

.baptized {
  background-color: rgba(0, 255, 157, 0.2);
  color: #00ff9d;
  font-weight: 100;
  border-radius: 5px;
  padding: 2px;
}
.not-baptized {
  background-color: rgba(255, 0, 0, 0.2);
  color: #ff6b6b;
  font-weight: 100;
  border-radius: 5px;
  padding: 2px;
}

.table-wrapper {
  overflow-x: auto; /* horizontal scroll only */
  width: 100%;
  /* border-radius: 10px; */
  /* border: 1px solid rgba(255,255,255,0.2); */
  margin-top: 20px;
}

.table {
  width: max-content; /* important - allow wide content */
  min-width: 100%;
}

.thead,
.row {
  display: grid;
  grid-template-columns: 60px 200px 150px 200px 100px 120px 100px 100px 80px 150px;
  align-items: center;
  text-align: left;
  gap: 5px;
  width: max-content; /* ensures full width across scroll */
  min-width: 100%;
}

.thead {
  background: rgba(255, 255, 255, 0.32);
  padding: 10px;
  font-weight: 500;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  position: sticky;
  top: 0;
  z-index: 2;
  backdrop-filter: blur(8px);
  font-size: 0.9em;
}

.row {
  padding: 10px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.652);
  font-size: 0.8em;
  font-weight: 100;
}

.row:hover {
  background: rgba(255, 255, 255, 0.07);
  transition: background 0.3s;
}

.btn1 {
  margin-left: 10px;
  padding: 8px 18px;
  border-radius: 8px;
  border: none;
  background: linear-gradient(90deg, #ffffffd2, #ffffffdf);
  color: #012a15;
  font-weight: 500;
  cursor: pointer;
  transition: transform 0.15s ease;

  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
}
.btn1:focus,
.btn1:active {
  outline: none;
  box-shadow: none;
  background: linear-gradient(90deg, #00a02ed4);
  transform: none;
}










/* Background wrapper */
.welcome-page {
     background: transparent; 
     /* background: linear-gradient(to bottom right, #0b5ed7, #0a58ca); */
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
    z-index: 10;

}

/* Top title */
.top-title {
  position: absolute;
  top: 100px;
  width: 100%;
  text-align: center;
  color: white;
  font-size: 2em;
   font-family: "Nunito", sans-serif;
  font-weight: 500;
  letter-spacing: 1px;
  z-index: 2;
}

/* Card section */
.welcome-card {
  background-color: #131313;
  padding: 20px;
    border-top-right-radius: 18px;
    border-top-left-radius: 18px;
  text-align: center;
  color: white;
  width: 90%;
  height: 50vh;
  
  max-width: 450px;
  margin-bottom: 0px;
  z-index: 2;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

/* Logo */
.welcome-logo {
  width: 120px;
  margin-bottom: 50px;
}

/* Text */
.welcome-title {
  font-size: 24px;
  margin-bottom: 10px;
}

.welcome-subtitle {
  font-size: 14px;
  margin-bottom: 40px;
}

/* Buttons */
.welcome-buttons button {
  display: block;
  width: 90%;
  margin: 20px 0;
  margin-left: 20px;

  padding: 12px;
  font-size: 16px;
  border-radius:  12px;
  border: none;
  cursor: pointer;
}

.join-btn {
  background-color: #0b5ed7;
  color: white;
}

.plain-btn {
  background-color: #fff;
  color: #000;
}

.signin-btn {
  background-color: black;
  color: white;
  border: 1px solid white;
}

/* Gear icon */
.welcome-settings {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 20px;
  color: white;
  z-index: 2;
}




/* Responsive tweaks */
@media screen and (max-width: 480px) {
  .top-title {
    top: 220px;
    font-size: 2.7em;
    text-align: center;
  font-weight: 600;
       font-family: "Nunito", sans-serif;
  }

  .welcome-card {
    padding: 15px;
    margin-top: 50px;
    margin-bottom: 0px;
    border-top-right-radius: 18px;
    border-top-left-radius: 18px;
    height: 45vh;
   font-family: "Nunito", sans-serif;
    width: 100%;
  }

   /* Logo */
.welcome-logo {
  width: 70px;
  margin-bottom: 75%;
  border-radius: 10px;
  padding: 10px;
  border-bottom: 1.5px solid wheat;
}

  .welcome-title {
    font-size: 1.5em;
    margin-bottom: 30px;
  }

  .welcome-buttons button {
    font-size: 15px;
    padding: 10px;
  }
}



.bgi-animation {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
}

/* blue overlay */
.bgi-animation::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 66, 187, 0.675);
  z-index: 3;
}

.bgi-animation img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;

  opacity: 0;
  transform: translateX(100%); /* Mwanzo -> nje upande wa kulia */

  animation: slideShow 9s infinite ease-in-out;
  z-index: 1;
}

/* delay for each image */
.bgi-animation img:nth-child(1) { animation-delay: 0s; }
.bgi-animation img:nth-child(2) { animation-delay: 3s; }
.bgi-animation img:nth-child(3) { animation-delay: 6s; }

@keyframes slideShow {
  0% {
    opacity: 0;
    transform: translateX(100%) scale(1); /* ingia kutoka right */
  }
  10% {
    opacity: 1;
    transform: translateX(0) scale(1.05); /* imesimama hatua ya mwanzo */
  }
  40% {
    opacity: 1;
    transform: translateX(0) scale(1.15); /* zoom in */
  }
  70% {
    opacity: 1;
    transform: translateX(-20%) scale(1.1); /* inaanza kuslip kushoto */
  }
  100% {
    opacity: 0;
    transform: translateX(-100%) scale(1); /* imetoka kushoto kabisa */
  }
}


